.button {
    padding: $s-size $m-size;
    background: $blue;
    font-size: $l-font;
    display: inline-block;
    text-decoration: none;
    border: none;
    color: #ffffff;
    line-height: 1;
}

.button--link {
    background: none;
}

.button--secondary {
    background: #888888;
}